@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Quicksand:300,400|Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containers {
  height: 100%;
  margin-top: 100px;
  display: grid;
  place-items: center;
}
.containers .titulo {
  font-size: 40px;
  max-width: 200px;
  color: rgb(235, 66, 66);
  margin: auto;
  margin-bottom: 25px;
  border-bottom: 3px solid rgb(235, 66, 66);
  border-radius: 10px;
  -webkit-animation: 0.5s ease;
          animation: 0.5s ease;
}
.containers .slider-container {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  background: #343f4f;
  border-radius: 10px;
  margin-bottom: 45px;
}
.containers .slider-container .wrapper {
  display: flex;
  max-width: 1200px;
  position: relative;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.containers .slider-container .wrapper i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: red;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  border: 3px solid red;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.containers .slider-container .wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}
.containers .slider-container .wrapper i:hover {
  background: red;
  color: #fff;
}
.containers .slider-container .wrapper i:first-child {
  left: -22px;
  display: none;
}
.containers .slider-container .wrapper i:last-child {
  right: -22px;
}
.containers .slider-container .wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.containers .slider-container .carousel.dragging {
  cursor: -webkit-grab;
  cursor: grab;
  scroll-behavior: auto;
}
.containers .slider-container .carousel.dragging img {
  pointer-events: none;
}
.containers .slider-container .carousel img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 14px;
  width: 33.3333333333%;
  border-radius: 5px;
}
.containers .slider-container .carousel img:first-child {
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .containers .slider-container .carousel img {
    width: 55.5555555556%;
  }
}
@media screen and (max-width: 760px) {
  .containers .slider-container .wrapper {
    height: auto;
  }
  .containers .slider-container .carousel img {
    width: 83.3333333333%;
  }
}
@media screen and (max-width: 1100px) {
  .containers .slider-container .carousel img {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .containers .slider-container .wrapper {
    height: auto;
    width: auto;
  }
  .containers .slider-container .carousel img {
    width: 100%;
  }
}
.containers .slider-containers {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  background: #343f4f;
  border-radius: 10px;
  margin-bottom: 45px;
}
.containers .wrappers {
  display: flex;
  max-width: 1200px;
  position: relative;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.containers .wrappers i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: red;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: white;
  border: 3px solid red;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 150;
}
.containers .wrappers i:active {
  transform: translateY(-50%) scale(0.9);
}
.containers .wrappers i:hover {
  background: red;
  color: white;
}
.containers .wrappers i:first-child {
  left: -22px;
  display: none;
}
.containers .wrappers i:last-child {
  right: -22px;
}
.containers .wrappers .carousels {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.containers .carousels.dragging {
  cursor: -webkit-grab;
  cursor: grab;
  scroll-behavior: auto;
}
.containers .carousels.dragging video {
  pointer-events: none;
}
.containers .carousels video {
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 14px;
  border-radius: 12px;
  width: 33.3333333333%;
}
.containers .carousels video:first-child {
  margin-left: 0px;
}
@media screen and (max-width: 1100px) {
  .containers .carousels video {
    width: 50%;
  }
}
@media screen and (max-width: 900px) {
  .containers .carousels video {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .containers .carousels video {
    width: 100%;
    height: auto;
  }
}

.containers .titulo-video {
  text-align: center;
  font-size: 40px;
  max-width: 450px;
  color: rgb(235, 66, 66);
  margin: auto;
  margin-bottom: 25px;
  border-bottom: 3px solid rgb(235, 66, 66);
  border-radius: 10px;
  -webkit-animation: 0.5s ease;
          animation: 0.5s ease;
}

@media screen and (max-width: 500px) {
  .containers .titulo {
    font-size: 28px;
    max-width: 140px;
  }
  .containers .titulo-video {
    font-size: 28px;
  }
}/*# sourceMappingURL=diseño.css.map */