@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Quicksand:300,400|Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    font-family: "Quicksand", sans-serif;
    font-size: 16px; 
 }

 main{
    margin-top: 120px;
    font-family: 'Poppins', sans-serif;
    .main-content{
        .perfil{

            .title{
                justify-items: center;
                align-items: center;
                text-align: center;
                line-height: 25px;
                margin: auto 10px;
                p{
                    border-bottom: 2px solid red ;
                    border-radius: 12px;
                    margin: 0 auto;
                    max-width: 450px;
                    font-weight: bold;
                }
                .name{
                    color: rgb(4, 4, 175) ;
                }
                
            }
            .informacion{
                display: grid;
                margin-top: 50px;
                
                .arriba{
                    margin: auto;
                }
                .info-gg{
                    margin: auto 10px;
                    display:flex;
                    margin-bottom: 60px;  
                    max-width: 1000px;
                    padding: 40px;
                    border-radius: 12px;
                    box-shadow: 0 5px 10px rgb(105, 105, 107);
                    figure{
                        margin: 20px 50px;
                        display: grid;
                        
                        img{
                            height: 250px;
                            border-radius: 15px;
                            box-shadow: 0 5px 5px rgb(95, 94, 94);
                            transition: all 0.8s ease;
                            
                        }
                        .info{
                            margin-top: 25px;
                            border-left: 3px solid red;
                            padding-left: 25px;
                        }
                    }              
                    .caja{
                        display: grid;
                        align-items: center;
                        justify-content: center;
                        .especialidad{
                            margin: auto;
                            .text{
                                font-size: 17px;
                                line-height: 35px;
                                .ic{
                                    color: rgb(8, 8, 141);
                                }
                            }
                            li{
                                margin-top: 15px  ;
                                line-height: 30px;
                                font-size: 17px;
                                ul{
                                    .icon{
                                        color: red;
                                        padding-right: 15px ;
                                    }
                                }
                            }
                        }
                    }
            }
        }
        }
        .logros{
            display: grid;
            h2{
                text-align: center;
                padding: 0 25px;
                margin: auto;
                color: red;
                
            }
            .titulo-logro{
                color: red;
                border-bottom: 2px solid red;
                border-radius: 10px;
            }
            .cards{
                margin: 50px 100px;
                .images{
                    display: grid;
                    grid-template-columns: repeat(auto-fit,minmax(428px,1fr));
                    .face{
                        margin: auto;
                        position: relative;
                        text-align: center;
                        justify-content: center;
                        transition: all 0.5s ease;
                        border-radius: 10px;
                        box-shadow: 0 5px 10px rgb(95, 94, 94);
                        max-width: 450px;                     
                        
                        img{
                            max-width: 100%;
                            border-radius: 10px;
                            cursor: pointer;
                            margin-bottom: -10px;
                            
                        }
                    &:hover{
                        transform: scale(1.2) ;
                        z-index: 9;
                        img{
                            z-index: -55;
                        }
                        &::before{
                            content: var(--content);
                            position: absolute;
                            font-weight: bold;
                            top: 85%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            color: white;
                            background: rgb(57, 43, 247);
                            padding: 0 25px;
                            font-size: 12px;
                            border-radius: 15px;
                            
                        }
                    }
                    }
                }
            }
        }
        .projects{
            display: grid;
            
            .exp{
                max-width: 450px;
                border-bottom: 2px solid red;
                border-radius: 10px;
                margin: auto;
                h2,p{
                    text-align: center;
                    margin: auto;
                    font-weight: bold;
                }
            }
            
            .cards{
                margin: 50px 150px;
                transition: all 0.5s ease;
                .images{
                    display: grid;
                    grid-template-columns: repeat(auto-fit,minmax(428px,1fr));
                    .face{
                        margin: 0px 15px 20px 15px;
                        position: relative;
                        text-align: center;
                        justify-content: center;
                        transition: all 0.5s ease;
                        border-radius: 10px;
                        box-shadow: 0 5px 10px rgb(95, 94, 94);
                        
                        
                        img{
                            max-width: 100%;
                            border-radius: 10px;
                            cursor: pointer;
                        }
                    &:hover{
                        transform: scale(1.2) ;
                        z-index: 9;
                        img{
                            z-index: -55;
                        }
                        &::before{
                            content: var(--content);
                            position: absolute;
                            font-weight: bold;
                            top: 85%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            color: white;
                            background: rgb(57, 43, 247);
                            padding: 0 25px;
                            font-size: 12px;
                            border-radius: 15px;
                            
                        }
                    }
                    }
                }
            }
        }
    }
 }
 @media screen and (max-width: 870px) {
    main{
        .main-content{
            .perfil{
                .informacion{
                    .info-gg{
                        figure{
                            img{
                                width: auto;
                            }
                            .info{
                                margin-bottom: 25px;
                            }
                            
                        }
                }
            }
        }
    }
 }
}

 @media screen and (max-width: 768px) {
    main{
        .main-content{
            .perfil{
                .informacion{
                    .info-gg{
                        flex-direction: column;
                        display: grid;
                        figure{
                            margin: auto;
                            img{
                                margin: auto;
                                transition:  0.5s ease;
                                
                            }
                        }
                    }
                }
            }
            .logros{
                .cards{
                    margin: 50px 0;
                    
            }
            .projects{
                .cards{
                    margin: 50px 10px;
            }
        }
    }
 }
}

@media screen and (max-width: 520px) {
    main{
        .main-content{
            .logros{
                margin: 0 0 0 0;
                .cards{
                    margin: 50px 10px;
                    display: grid;
                    .images{
                        max-width: 320px;
                        display: grid;
                        margin:  auto;
                        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
                        .face{
                            max-width: 320px;
                            margin: auto;
                            margin-top: 30px;
                            img{
                                max-width: 320px;
                                height: auto;
                            }
                        }
                    }
                }
            }
            .projects{
                .exp{
                    transition:  .5s ease;
                    max-width: 320px;
                    p{
                        max-width: 310px;
                    }
                }
                .cards{
                    margin: 50px 30px;
                    display: grid;
                    .images{
                        height: auto;
                        max-width: 320px;
                        display: grid;
                        margin:  auto;
                        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
                        .face{
                            
                            max-width: 320px;
                            margin: auto;
                            margin-top: 30px;
                            img{
                                width: auto;
                                
                            }
                            &:hover{
                                &::before{
                    
                                    font-size: 8px;

                                }
                            }
                        }
                    }
                }
            }
            

        }
    }
 }}
