@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Quicksand:300,400|Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Quicksand", sans-serif;
    font-size: 16px; 
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
.contac-main{
    margin-top: 8%;
    h2{
      text-align: center;
      margin-bottom: 20px;
    }
    .titulo{
        margin-bottom: 40px;
        color: #b32727;
        font-size: 40px;
        display: grid;
        font-weight: bold;
        &::after{
            content: "";
            border-bottom: #b32727 2px solid;
            margin-top: 8px;
            width: 300px;
        }
    }
    .contact{
      margin: auto;
      display: flex;
      
      .info{
        display: grid;
        
        background: rgb(1, 1, 105);
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        .info2{
          margin: auto;
          margin-right: 50px;
          margin-left: 50px;
          color: white;
          p{
            margin: 25px 0;
          }
          ion-icon{
            margin-right: 10px;
          }
        }
      }
      .form{
        border-bottom-right-radius: 15px ;
            border-top-right-radius: 15px ;
       background: rgb(221, 216, 216);
       flex-wrap: wrap;
        flex-direction: row;
        width: 700px;
        h2{
          margin: 25px auto;
          color: rgb(1, 1, 105);
          font-weight: bold;
        }
       
       .form-form{
        flex-wrap: wrap;
        flex-direction: column;
        form{
          align-items: center;
          text-align: center;
          font-size: 25px;
          
          .entrada{
            width: 80%;
            height: 40px;
            margin: 10px 0;
            font-size: 17px;
            border-radius: 5px;
            border: none;
          }
          .coment{
            height: auto;
          }
          .btn{
            width: 150px;
                margin: 10px 0;
                padding: 15px 25px;
                cursor: pointer;
                border-radius: 10px;
                font-size: 15px;
                border: 2px solid #b32727;
                background: white;
                color: #b32727;
                font-weight: bolder;
                &:hover{
                  background: #b32727;
                  color: white;
                }
          }
        }
       }
      }
    }
  }
}

.redes-sociales{
    display: grid;
    .main-redes-sociales{
        margin: auto;
        display: flex;
        margin-top: 45px;
        
        .rs-tipo{
            
            
            ion-icon{
                font-size: 1.75em;
                padding: 25px;
                color: aliceblue;
            }
        }
        .youtube{
            background: red;
            border-top-left-radius: 10px ;
            border-bottom-left-radius: 10px ;
        }
        .facebook{
            background-color: blue;
        }
        .whatsapp{
            background: green;
        }
        .instagram{
            background: rgb(235, 13, 135);
            border-top-right-radius: 10px ;
            border-bottom-right-radius: 10px ;
        }
        .linkedin{
          background: rgb(74, 123, 228);
        }
    }
}

@media screen and (max-width: 1040px) {
    .main{
      .contac-main{
        margin-top: 110px;
        transition: all 0.5s ease;
        .contact{
          flex-direction: column;
          .info{
            height: 200px;
            text-align: center;
            border-bottom-left-radius:  0;
            border-bottom-right-radius: 0 ;
            border-top-right-radius: 15px;
          }
          .form{
            border-bottom-left-radius:  15px;
            border-bottom-right-radius: 15px ;
            border-top-right-radius: 0;
        }
        }
        
      }
    }
  }
  @media screen and (max-width: 722px) {
    .main{
      .contac-main{
        margin-top: 110px;
        transition: all 0.5s ease;
        .contact{
          flex-direction: column;
          .info{
            height: 200px;
            text-align: center;
            border-bottom-left-radius:  0;
            border-bottom-right-radius: 0 ;
            border-top-right-radius: 15px;
          }
          .form{
            border-bottom-left-radius:  15px;
            border-bottom-right-radius: 15px ;
            border-top-right-radius: 0;
            margin: auto;
        }
        }
        
      }
    }
  }
