@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Quicksand:300,400|Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Quicksand", sans-serif;
    font-size: 16px; 
}

.container {
  max-width: 1000px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px; }

main {
  overflow: hidden; }
  main .main-fondo {
    height: 75vh;
    width: 100%;
    background: #e5d8bf url("/images/portada.jpg");
    opacity: 0.2;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; }
  main .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    main .container .main-texto {
      position: relative;
      width: 100%;
      text-align: center; 
    line-height: 48px;}
      main .container .main-texto h1 {
        line-height: 55px;
        &.titulo{
          font-family: 'Poppins', sans-serif;
          width: 100%;
          color: red;
          font-size: 70px;
          height: auto;
          transition: all 0.5s ease;
          margin-bottom: 25px;
        } }

      main .container .main-texto span {
        position: absolute;
        margin-left: auto;
        margin-top: 0px;
        width: 100%;
        left: 0; 
        margin-bottom: 150px;
        
      }
      main .container .main-texto span h3{
        font-size: 25px;
        background: rgb(2, 2, 85);
        padding: 5px;
        color: white;
        border-radius: 10px;
        min-height: 60px;
      }
    main .container .main-redes-sociales {
      display: flex; 
    
    }
      main .container .main-redes-sociales .rs-tipo {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size:1.50em; }
        main .container .main-redes-sociales .rs-tipo ion-icon {
          font-size: 20px;
          color: white;
          animation: agrandar 5s linear infinite; }
@keyframes agrandar {
  from {
    opacity: 0;
    transform: scale(0); }
  70% {
    transform: scale(1.4); }
  90% {
    transform: scale(0.8); }
  to {
    opacity: 1;
    transform: scale(0.5); } }
      main .container .main-redes-sociales .youtube {
        background: #b32727;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        transition: all ease-in .5s; }
        main .container .main-redes-sociales .youtube:hover {
          background: #d32d2d; }
      main .container .main-redes-sociales .facebook {
        background: #441df2;
        transition: all ease-in .5s; }
        main .container .main-redes-sociales .facebook:hover {
          background: #3862eb; }
          main .container .main-redes-sociales .linkedin {
            background: rgb(74, 123, 228);
            transition: all ease-in .5s; }
            main .container .main-redes-sociales .linkedin:hover {
              background: #3862eb; }
      main .container .main-redes-sociales .whatsapp {
        background: #068601;
        transition: all ease-in .5s; }
        main .container .main-redes-sociales .whatsapp:hover {
          background: #28b10c; }
      main .container .main-redes-sociales .instagram {
        background: #c32aa3;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        transition: all ease-in .5s; }
        main .container .main-redes-sociales .instagram:hover {
          background: #db2eb6; }

@media screen and (min-width: 768px) {
  main .container .main-texto h1 {
    font-size: 35.2px; }
  main .container .main-texto span {
    font-size: 20px; }
  main .container .main-redes-sociales .rs-tipo {
    width: 65px;
    height: 65px; } }
@media screen and (min-width: 1024px) {
  main .container .main-texto h1 {
    font-size: 38.4px; }
  main .container .main-texto span {
    font-size: 22px; } }

.text-warning {
  color: #f08528; }

.text-primary {
  color: #235f91; }

.text-uppercase {
  text-transform: uppercase; }

.ta-center {
  text-align: center; }

  .main-main{
    .main{
      font-family: 'Poppins', sans-serif;
      justify-content: center;
      align-items: center;
      .title{
        display: grid;
        transition: all .5s ease;
        margin: 25px 25px;
        .quienes{
          display: grid;
          place-items: center;
          h1{
            color: rgb(4, 4, 175) ;
            padding-bottom: 5px;
            margin-bottom: 25px;
          }
          p{
            max-width: 850px;
            text-align: justify;
            padding: 12px;
          }
        }
      }
      .contac-main{
        display: grid;
        margin-bottom: 50px;
        transition: all 0.5s ease;
        h2{
          margin: auto;
          text-align: center;
          margin-bottom: 20px;
          color: rgb(4, 4, 175) ;
        }
        .contact{
          margin: auto;
          display: flex;
          
          .info{
            display: grid;
            background: rgb(235, 66, 66);
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
            .info2{
              margin: auto;
              margin-right: 50px;
              margin-left: 50px;
              color: white;
              ion-icon{
                margin-right: 10px;
              }
            }
          }
          .form{
            border-bottom-right-radius: 15px ;
            border-top-right-radius: 15px ;
            background: rgb(221, 216, 216);
            flex-wrap: wrap;
            flex-direction: row;
            max-width: 700px;
            transition: all 0.5s ease;
            h2{
              margin: 25px auto;
              color: rgb(1, 1, 105);
              font-weight: bold;
            }
           
           .form-form{
            flex-wrap: wrap;
            flex-direction: column;
            form{
              align-items: center;
              text-align: center;
              font-size: 25px;
              
              .entrada{
                width: 80%;
                height: 40px;
                margin: 10px 0;
                font-size: 17px;
                border-radius: 5px;
                border: none;
              }
              .coment{
                height: auto;
                resize:none;
              }
              .btn{
                width: 150px;
                margin: 10px 0;
                padding: 15px 25px;
                cursor: pointer;
                border-radius: 10px;
                font-size: 15px;
                border: 2px solid rgb(235, 66, 66);
                background: white;
                color: rgb(235, 66, 66);
                font-weight: bolder;
                &:hover{
                  background: rgb(235, 66, 66);
                  color: white;
                }
              }
            }
           }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1360px) {
    .main-main{
      .main{
        .title{
          margin: auto 15px
        }
        
      }}
  }

  @media screen and (max-width: 1040px) {
    .main-main{
      .main{
        .contac-main{
          .contact{
            flex-direction: column;
            transition: all 0.5s ease; 
            .info{
              height: 200px;
              text-align: center;
              border-bottom-left-radius: 0;
              border-top-right-radius: 15px;
            }
            .form{
              border-bottom-left-radius: 15px;
              border-top-right-radius: 0;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {

    .main-main{
      .main{

        .contac-main{
          margin: 10px 10px;
          .contact{
            flex-direction: column;
            .info{
              height: 200px;
              text-align: center;
              display: grid;
              .info2{
                margin: auto;
              }
            }
          }
        }
      }}
  }
  
  @media screen and (max-width:560px){
    main .container .main-texto h1 {
      line-height: 55px;
      &.titulo{ 
        font-size: 45px;
        margin-bottom: 10px;
      } }

      main .container .main-texto span h3{
        font-size: 20px;
        margin-bottom: 150px;
      }
  }


.main-main{
  .main{
    .perfiles{
      display: grid;
      place-items: center;
      margin-bottom: 30px;

      h2{
        color: rgb(4, 4, 175)
      }
      .user{
        position: relative;        display: grid;
        place-items: center;
        margin-top: 25px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 20px;
        border-radius: 12px;
        overflow: hidden;
        margin-left: 25px;
        margin-right: 25px;

        .circule{
          position: absolute;
          background: #0b6f72;
          height: 350px;
          width: 370px;
          z-index: -1;
          transform: translateY(-250px);
          border-radius: 100px;

        }   
        img {
          max-width: 200px;
          border-radius: 50%;
          background: white;
          padding: 8px;
          height: 99%;
        }
        .name{
          margin-top: 15px;
          font-weight: bolder;
          margin-bottom: -7px;
        }
        .profesion{
          margin-bottom: 25px;
        }
        .description{
          max-width: 320px;
          margin-bottom: 35px;
          text-align: center;
        }
        hr{
          height: 3px;
          width: 100%;
          margin-bottom: 25px;
          background: #0b6f72;
          border: none;
        }
        .saber-mas{
          border: 3px solid red;
          padding: 7px 10px;
          border-radius: 10px;
          color: red;

          &:hover{
            color: #fff;
            background: red;
          }
        }
      }
    }
  }
}