@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Quicksand:300,400|Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

main {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}
main .content-info-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  main .content-info-main {
    flex-direction: column;
  }
}
main .content-info {
  max-width: 1200px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgb(223, 223, 231);
  display: grid;
  margin: auto 10px;
  background: rgb(235, 231, 241);
}
main .content-info .portada {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}
main .content-info .portada img {
  max-width: 450px;
  max-height: 450px;
  margin-left: 15px;
  border-bottom-right-radius: 12px;
}
@media screen and (max-width: 960px) {
  main .content-info .portada {
    flex-direction: column;
  }
  main .content-info .portada img {
    margin: auto;
  }
}
main .content-info h1 {
  margin: auto;
  color: rgb(12, 5, 114);
  display: grid;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid blue;
  border-radius: 10px;
  padding: 0 25px;
}
main .content-info span {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 28px;
}
main .projects {
  display: grid;
}
main .projects .subtitulo {
  margin: auto;
  max-width: 350px;
}
main .projects h2, main .projects p {
  text-align: center;
}
main .projects h2 {
  margin-top: 50px;
  color: red;
}
main .projects p {
  max-width: 100%;
  border-bottom: 2px solid red;
  border-radius: 10px;
  font-weight: bold;
  padding: 0;
}
main .projects .cards {
  margin: 50px 150px;
  transition: all 0.7s ease;
}
main .projects .cards .images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(428px, 1fr));
}
main .projects .cards .images .face {
  margin: 0px 15px 20px 15px;
  position: relative;
  text-align: center;
  justify-content: center;
  transition: all 0.5s ease;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(95, 94, 94);
}
main .projects .cards .images .face img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
main .projects .cards .images .face:hover {
  transform: scale(1.005);
  z-index: 9;
}
main .projects .cards .images .face:hover img {
  z-index: -55;
}
main .projects .cards .images .face:hover::before {
  content: var(--content);
  position: absolute;
  font-weight: bold;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgb(57, 43, 247);
  padding: 0 25px;
  font-size: 12px;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  main .main-content .content-info {
    padding: 30px;
    margin: auto 15px;
  }
  main .main-content .content-info span {
    font-size: 15px;
    line-height: 1.5em;
  }
  main .main-content .projects .cards {
    margin: 50px 30px;
  }
}
@media screen and (max-width: 480px) {
  main .main-content .content-info-main .content-info {
    margin: auto 15px;
  }
  main .main-content .projects .subtitulo {
    transition: 0.5s ease;
  }
  main .main-content .projects .cards {
    margin: 50px 30px;
    display: grid;
  }
  main .main-content .projects .cards .images {
    max-width: 320px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  main .main-content .projects .cards .images .face {
    max-width: 320px;
    margin: auto;
    margin-top: 30px;
  }
  main .main-content .projects .cards .images .face img {
    width: 320px;
    height: auto;
  }
  main .main-content .projects .cards .images .face:hover::before {
    font-size: 8px;
  }
}/*# sourceMappingURL=style-trayectoria.css.map */