@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Quicksand:300,400|Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

main {
  margin-top: 120px;
  font-family: "Poppins", sans-serif;
}
main .main-content .logros {
  display: grid;
}
main .main-content .logros h2 {
  text-align: center;
  padding: 0 25px;
  margin: auto;
  color: red;
}
main .main-content .logros .titulo-logro {
  color: red;
  border-bottom: 2px solid red;
  border-radius: 10px;
}
main .main-content .logros .cards {
  margin: 50px 100px;
}
main .main-content .logros .cards .images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(428px, 1fr));
}
main .main-content .logros .cards .images .face {
  margin: auto;
  position: relative;
  text-align: center;
  justify-content: center;
  transition: all 0.5s ease;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(95, 94, 94);
  max-width: 450px;
}
main .main-content .logros .cards .images .face img {
  max-width: 100%;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: -10px;
}
main .main-content .logros .cards .images .face:hover {
  transform: scale(1.2);
  z-index: 9;
}
main .main-content .logros .cards .images .face:hover img {
  z-index: -55;
}
main .main-content .logros .cards .images .face:hover::before {
  content: var(--content);
  position: absolute;
  font-weight: bold;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgb(57, 43, 247);
  padding: 0 25px;
  font-size: 12px;
  border-radius: 15px;
}
main .main-content .projects {
  display: grid;
}
main .main-content .projects .exp {
  max-width: 450px;
  border-bottom: 2px solid red;
  border-radius: 10px;
  margin: auto;
}
main .main-content .projects .exp h2, main .main-content .projects .exp p {
  text-align: center;
  margin: auto;
  font-weight: bold;
}
main .main-content .projects .cards {
  margin: 50px 150px;
  transition: all 0.5s ease;
}
main .main-content .projects .cards .images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(428px, 1fr));
}
main .main-content .projects .cards .images .face {
  margin: 0px 15px 20px 15px;
  position: relative;
  text-align: center;
  justify-content: center;
  transition: all 0.5s ease;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(95, 94, 94);
}
main .main-content .projects .cards .images .face img {
  max-width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
main .main-content .projects .cards .images .face:hover {
  transform: scale(1.2);
  z-index: 9;
}
main .main-content .projects .cards .images .face:hover img {
  z-index: -55;
}
main .main-content .projects .cards .images .face:hover::before {
  content: var(--content);
  position: absolute;
  font-weight: bold;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgb(57, 43, 247);
  padding: 0 25px;
  font-size: 12px;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  main .main-content .logros .cards {
    margin: 50px 0;
  }
  main .main-content .logros .projects .cards {
    margin: 50px 10px;
  }
}
@media screen and (max-width: 768px) and (max-width: 520px) {
  main .main-content .logros {
    margin: 0 0 0 0;
  }
  main .main-content .logros .cards {
    margin: 50px 10px;
    display: grid;
  }
  main .main-content .logros .cards .images {
    max-width: 320px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  main .main-content .logros .cards .images .face {
    max-width: 320px;
    margin: auto;
    margin-top: 30px;
  }
  main .main-content .logros .cards .images .face img {
    max-width: 320px;
    height: auto;
  }
  main .main-content .projects .exp {
    transition: 0.5s ease;
    max-width: 320px;
  }
  main .main-content .projects .exp p {
    max-width: 310px;
  }
  main .main-content .projects .cards {
    margin: 50px 30px;
    display: grid;
  }
  main .main-content .projects .cards .images {
    height: auto;
    max-width: 320px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  main .main-content .projects .cards .images .face {
    max-width: 320px;
    margin: auto;
    margin-top: 30px;
  }
  main .main-content .projects .cards .images .face img {
    width: auto;
  }
  main .main-content .projects .cards .images .face:hover::before {
    font-size: 8px;
  }
}
.main-content .perfiles {
  display: grid;
  place-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.main-content .perfiles h2 {
  color: red;
  font-family: "Poppins", sans-serif;
  font-size: 33px;
  border-bottom: 3px solid red;
  padding: 0 25px;
}
.main-content .perfiles .tarjetas {
  margin-top: 15px;
  display: flex;
  transition: ease-in-out 1s;
}
.main-content .perfiles .tarjetas .user-div {
  display: flex;
  transition: ease-in-out 1s;
}
.main-content .perfiles .user {
  position: relative;
  display: grid;
  place-items: center;
  margin-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 12px;
  overflow: hidden;
  margin-left: 25px;
  margin-right: 25px;
  max-width: 280px;
  transition: ease 0.5s;
}
.main-content .perfiles .user .circule {
  position: absolute;
  background: #0b6f72;
  height: 350px;
  width: 370px;
  z-index: -1;
  transform: translateY(-250px);
  border-radius: 100px;
}
.main-content .perfiles .user img {
  max-width: 150px;
  height: 148px;
  border-radius: 50%;
  background: white;
  padding: 8px;
}
.main-content .perfiles .user .name {
  margin-top: 15px;
  font-weight: bolder;
  margin-bottom: -7px;
}
.main-content .perfiles .user .profesion {
  margin-bottom: 25px;
}
.main-content .perfiles .user .description {
  max-width: 320px;
  margin-bottom: 35px;
  text-align: center;
}
.main-content .perfiles .user hr {
  height: 3px;
  width: 100%;
  margin-bottom: 25px;
  background: #0b6f72;
  border: none;
}
.main-content .perfiles .user .saber-mas {
  border: 3px solid red;
  padding: 7px 10px;
  border-radius: 10px;
  color: red;
}
.main-content .perfiles .user .saber-mas:hover {
  color: #fff;
  background: red;
}

@media screen and (max-width: 1200px) {
  .main-content .perfiles .tarjetas {
    flex-direction: column;
  }
}
@media screen and (max-width: 657px) {
  .main-content .perfiles .tarjetas .user-div {
    flex-direction: column;
  }
  .main-content .perfiles .tarjetas .user-div .user {
    max-width: 450px;
  }
}/*# sourceMappingURL=style-profesional.css.map */