@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Quicksand:300,400|Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

main {
  margin-top: 120px;
  font-family: "Poppins", sans-serif;
}
main .main-content .perfil .title {
  justify-items: center;
  align-items: center;
  text-align: center;
  line-height: 25px;
  margin: auto 10px;
}
main .main-content .perfil .title p {
  border-bottom: 2px solid red;
  border-radius: 12px;
  margin: 0 auto;
  max-width: 450px;
  font-weight: bold;
}
main .main-content .perfil .title .name {
  color: rgb(4, 4, 175);
}
main .main-content .perfil .informacion {
  display: grid;
  margin-top: 50px;
}
main .main-content .perfil .informacion .info-gg {
  margin: auto 10px;
  display: flex;
  margin-bottom: 60px;
  max-width: auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgb(105, 105, 107);
}
main .main-content .perfil .informacion .info-gg figure {
  margin: 20px 50px;
  display: grid;
}
main .main-content .perfil .informacion .info-gg figure img {
  height: 250px;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgb(95, 94, 94);
  transition: all 0.8s ease;
}
main .main-content .perfil .informacion .info-gg figure .info {
  margin-top: 25px;
  border-left: 3px solid red;
  padding-left: 25px;
}
main .main-content .perfil .informacion .info-gg .caja {
  display: grid;
  align-items: center;
  justify-content: center;
}
main .main-content .perfil .informacion .info-gg .caja .especialidad {
  margin: auto;
}
main .main-content .perfil .informacion .info-gg .caja .especialidad .text {
  font-size: 17px;
  line-height: 35px;
}
main .main-content .perfil .informacion .info-gg .caja .especialidad .text .ic {
  color: rgb(8, 8, 141);
}
main .main-content .perfil .informacion .info-gg .caja .especialidad li {
  margin-top: 15px;
  line-height: 30px;
  font-size: 17px;
}
main .main-content .perfil .informacion .info-gg .caja .especialidad li ul .icon {
  color: red;
  padding-right: 15px;
}
main .main-content .logros {
  display: grid;
}
main .main-content .logros h2 {
  text-align: center;
  padding: 0 25px;
  margin: auto;
  color: red;
}
main .main-content .logros .titulo-logro {
  color: red;
  border-bottom: 2px solid red;
  border-radius: 10px;
}
main .main-content .logros .cards {
  margin: 50px 100px;
}
main .main-content .logros .cards .images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(428px, 1fr));
}
main .main-content .logros .cards .images .face {
  margin: 0px 15px 20px 15px;
  position: relative;
  text-align: center;
  justify-content: center;
  transition: all 0.5s ease;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(95, 94, 94);
}
main .main-content .logros .cards .images .face img {
  max-width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
main .main-content .logros .cards .images .face:hover {
  transform: scale(1.2);
  z-index: 9;
}
main .main-content .logros .cards .images .face:hover img {
  z-index: -55;
}
main .main-content .logros .cards .images .face:hover::before {
  content: var(--content);
  position: absolute;
  font-weight: bold;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgb(57, 43, 247);
  padding: 0 25px;
  font-size: 12px;
  border-radius: 15px;
}
main .main-content .projects {
  display: grid;
}
main .main-content .projects .exp {
  max-width: 450px;
  border-bottom: 2px solid red;
  border-radius: 10px;
  margin: auto;
}
main .main-content .projects .exp h2, main .main-content .projects .exp p {
  text-align: center;
  margin: auto;
  font-weight: bold;
}
main .main-content .projects .cards {
  margin: 50px 150px;
  transition: all 0.5s ease;
}
main .main-content .projects .cards .images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(428px, 1fr));
}
main .main-content .projects .cards .images .face {
  margin: 0px 15px 20px 15px;
  position: relative;
  text-align: center;
  justify-content: center;
  transition: all 0.5s ease;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(95, 94, 94);
}
main .main-content .projects .cards .images .face img {
  max-width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
main .main-content .projects .cards .images .face:hover {
  transform: scale(1.2);
  z-index: 9;
}
main .main-content .projects .cards .images .face:hover img {
  z-index: -55;
}
main .main-content .projects .cards .images .face:hover::before {
  content: var(--content);
  position: absolute;
  font-weight: bold;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgb(57, 43, 247);
  padding: 0 25px;
  font-size: 12px;
  border-radius: 15px;
}

@media screen and (max-width: 870px) {
  main .main-content .perfil .informacion .info-gg figure img {
    width: auto;
  }
  main .main-content .perfil .informacion .info-gg figure .info {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  main .main-content .perfil .informacion .info-gg {
    flex-direction: column;
    display: grid;
  }
  main .main-content .perfil .informacion .info-gg figure {
    margin: auto;
  }
  main .main-content .perfil .informacion .info-gg figure img {
    margin: auto;
    transition: 0.5s ease;
  }
  main .main-content .logros .cards {
    margin: 50px 0;
  }
  main .main-content .logros .projects .cards {
    margin: 50px 10px;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  main .main-content .perfil .informacion .info-gg figure {
    margin: auto;
  }
  main .main-content .perfil .informacion .info-gg figure img {
    width: auto;
    margin: auto;
    transition: 0.5s ease;
  }
  main .main-content .logros {
    margin: 0 0 0 0;
  }
  main .main-content .logros .cards {
    margin: 50px 10px;
    display: grid;
  }
  main .main-content .logros .cards .images {
    max-width: 320px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  main .main-content .logros .cards .images .face {
    max-width: 320px;
    margin: auto;
    margin-top: 30px;
  }
  main .main-content .logros .cards .images .face img {
    width: auto;
  }
  main .main-content .projects .exp {
    transition: 0.5s ease;
    max-width: 320px;
  }
  main .main-content .projects .exp p {
    max-width: 310px;
  }
  main .main-content .projects .cards {
    margin: 50px 30px;
    display: grid;
  }
  main .main-content .projects .cards .images {
    max-width: 320px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  main .main-content .projects .cards .images .face {
    max-width: 320px;
    margin: auto;
    margin-top: 30px;
  }
  main .main-content .projects .cards .images .face img {
    width: auto;
  }
}/*# sourceMappingURL=style-profesional.css.map */