@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Quicksand:300,400|Yeon+Sung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    font-family: "Quicksand", sans-serif;
    font-size: 16px; 
 }

 main{
    margin-top: 120px;
    font-family: 'Poppins', sans-serif;
    .content-info-main{
        display: grid;
    }
    .content-info{
        width: 950px;
        margin: auto;
        text-align: center;
        padding: 25px;
        border-radius: 12px;
        box-shadow: 0 5px 15px rgb(105, 105, 107);
        .line{
            display: grid;
            margin-bottom: 25px;

            .line2{
                margin: auto;
                width: 370px;
                height: 3px;  
                border-bottom:3px solid rgb(4, 4, 175) ;;
                border-radius: 12px;
            }
        }
        h1{
            color: rgb(4, 4, 175) ;
            margin-bottom: 0;
            display: grid;
            font-weight: bold;
            text-align: center;
            
        }
        span{
            margin-top: 50px;
            font-family: 'Poppins', sans-serif;
            text-align: justify;
            font-size: 17px;
            
        }
    }
    .projects{
        h2,p{
            text-align: center;
            margin: 25px 0;
        }
        h2{
            color: red;
        }
        .cards{
            margin: 50px 150px;
            transition: all 0.7s ease;
            .images{
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(428px,1fr));
                .face{
                    margin: 0px 15px 20px 15px;
                    position: relative;
                    text-align: center;
                    justify-content: center;
                    transition: all 0.5s ease;
                    border-radius: 10px;
                    box-shadow: 0 5px 10px rgb(95, 94, 94);
                    
                    
                    img{
                        width: 100%;
                        border-radius: 10px;
                        cursor: pointer;
                        border: 2px groove rgb(105, 105, 107);
                    }
                &:hover{
                    transform: scale(1.2) ;
                    z-index: 9;
                    img{
                        z-index: -55;
                    }
                    &::before{
                        content: var(--content);
                        position: absolute;
                        font-weight: bold;
                        top: 85%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        color: white;
                        background: rgb(57, 43, 247);
                        padding: 0 25px;
                        font-size: 12px;
                        border-radius: 15px;
                        
                    }
                }
                }
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    main{
        .content-info-main{
            .content-info{
                width: auto;
                margin: auto 60px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    main{
        .main-content{
            .projects{
                .cards{
                    margin: 50px 30px;
                }
            }
        }
    }
}




